/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(0, 0, 128);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
  
    color: goldenrod;
    font-size: 25px;
    font-weight: 600;
}



.nav-menu ul{
    display: flex;
    
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.user-pic{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 465px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;

}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{

    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link :hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}


.card {
    display: inline-block; /* Pour ajuster la taille à son contenu */
    width: 100%; /* Largeur désirée */
    margin: 10px 50px;
    background: rgb(44, 44, 44);
    font-family: "Courier New", Courier, monospace;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  
  .card__title {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(167, 159, 159);
    font-size: 0.95rem;
  }
  
  .card__data {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid rgb(203, 203, 203);
    border-left: 1px solid rgb(203, 203, 203);
    border-bottom: 1px solid rgb(203, 203, 203);
  }
  
  .card__right {
    width: 40%;
    border-right: 1px solid rgb(203, 203, 203);
  }
  
  .card__left {
    width: 60%;
    text-align: start;
  }
  
  .item {
    padding: 10px 0;
    background-color: white;
  }
  
  .card__right .item {
    padding-left: 0.8em;
  }
  
  .card__left .item {
    padding-left: 0.8em;
  }
  
  .item:nth-child(even) {
    background: rgb(234, 235, 234);
  }
  